:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.dark-background,
.light-background {
  background-size: 75%; /* Adjusts visual size */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
.dark-background {
  background-image: url('/photos/stars-night-galaxy-4k-3840x2160.webp');
}

.light-background {
  background-image: url('/photos/7247856.webp');
}



/* -------------- MOBILE 0-600px -------------- */
@media (max-width: 600px) {
  .display-tasks { padding: 1rem; }
  .filter-actions { flex-direction: column; }
}

/* -------------- SMALL TABLET 601-900px -------------- */
@media (min-width: 601px) and (max-width: 900px) {
  .display-tasks { max-width: 90%; }
  .filter-actions { flex-direction: row; }
}

/* -------------- MEDIUM 901-1200px -------------- */
@media (min-width: 901px) and (max-width: 1200px) {
  .display-tasks { max-width: 80%; }
  .filter-actions { flex-direction: row; }
}

/* -------------- DESKTOP 1201-1600px -------------- */
@media (min-width: 1201px) and (max-width: 1600px) {
  .display-tasks { max-width: 700px; }
  .filter-actions { flex-direction: row; }
}

/* -------------- LARGE DESKTOP ≥1601px -------------- */
@media (min-width: 1601px) {
  .display-tasks { max-width: 900px; }
  .filter-actions { flex-direction: row; }
}